<!DOCTYPE html>
<html>
<head>
    <title>Smart Home</title>
</head>
<body>
<h2>SMART HOME</h2>

<button onclick="fetch('/open_door',{method:'POST'})">Open Door</button>
<button onclick="fetch('/light_on',{method:'POST'})">Light ON</button>
<button onclick="fetch('/light_off',{method:'POST'})">Light OFF</button>

<h3>Logs</h3>
<ul id="logs"></ul>

<script>
function loadLogs(){
    fetch('/logs')
    .then(res=>res.json())
    .then(data=>{
        let ul = document.getElementById("logs")
        ul.innerHTML=""
        data.forEach(l=>{
            ul.innerHTML += `<li>${l.time} - ${l.user} - ${l.action}</li>`
        })
    })
}
setInterval(loadLogs,2000)
</script>
</body>
</html>
