<h2>SMART HOME</h2>

<form action="/door" method="post">
<button>Open Door</button>
</form>

<form action="/light" method="post">
<button name="state" value="on">Light ON</button>
<button name="state" value="off">Light OFF</button>
</form>

<h3>Logs</h3>
<ul id="logs"></ul>

<script>
async function loadLogs(){
 let r = await fetch("/logs");
 let data = await r.json();
 let ul = document.getElementById("logs");
 ul.innerHTML = "";
 data.forEach(l => {
   ul.innerHTML += `<li>${l.user} - ${l.action} - ${l.time}</li>`;
 });
}
setInterval(loadLogs,2000);
</script>
