<h2>Welcome {{user}} ({{role}})</h2>

<button onclick="fetch('/door',{method:'POST'})">Open Door</button>

<form action="/light" method="post">
  <button name="state" value="ON">Light ON</button>
  <button name="state" value="OFF">Light OFF</button>
</form>

<h3>Logs</h3>
<ul id="logs"></ul>

<script>
setInterval(()=>{
 fetch("/logs").then(r=>r.json()).then(d=>{
  document.getElementById("logs").innerHTML =
   d.map(x=>`<li>${x.time} - ${x.user} - ${x.action}</li>`).join("")
 })
},2000)
</script>

<a href="/users">Manage Users</a>
